node_modules

# Buidler files
cache
artifacts
abi
/typechain

# Coverage
coverage
coverage.json

# Envrionmental settings
.env
.env.dev
.env.prod

# Local settings
local/

# IDE settings
typechain/

# Deploy settings
contracts.json
